.header {
    // @include debug;
    height: 10rem;
    border-bottom: 1px solid #f2f2f2;
    background-color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

nav {
    position: relative;
    height: 6.9rem;
    background-color: #fff;
    font-weight: bold;
    .snb {
        display: none;
        &.is-active {
            display: block;
        }
    }
}

.snb {
    height: 44rem;
    background-color: #fff;
    .row {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    &__col {
        // @include debug;
        float: left;
        padding-top: 3rem;
        width: 22rem;
        margin-right: 1rem;
        font-weight: bold;
        &:nth-child(3) {
            margin-right: 0;
        }
        &:last-child {
            padding-top: 0;
            margin-right: 0;
            width: 24rem;
        }
    } // col
    &__category {
        margin-bottom: 2rem;
        text-transform: uppercase;
        &--single {
            margin-bottom: 1.8rem;
        }
    }
    &__item-list {
        font-size: 1.2rem;
        opacity: .5;
        li:last-child a {
            margin-bottom: 4rem;
        }
        a {
            display: block;
            margin-bottom: 1.5rem;
        }
    }
}