$width-max: 1200px;
$width-min: 940px;

.column {
	padding: 1rem;

	&--dark {
		background-color: #eee;
	}
}


.wrap {
	@include debug;

	margin-left: auto;
	margin-right: auto;
	width: $width-max;
}

