$width-max: 1200px;
$width-min: 940px;

body {
	background-color: #e5e5e5;
}



.ui-column {
	padding: 1rem;

	&--dark {
		background-color: #eee;
	}
}


.wrap {
	@include debug;

	margin-left: auto;
	margin-right: auto;
	width: $width-max;
}

.row {
	// @include debug;
	width: $width-min;
	padding: 0 1rem;
	margin-left: auto;
	margin-right: auto;
}