.gnb {
    // @include debug;
    text-transform: uppercase;
    &__link {
        // @include debug;
        display: block;
        line-height: 6.9rem;
        letter-spacing: .2rem;
        .ico--sel {
            margin-top: 3.3rem;
            margin-left: 1rem;
        }
    }
}

.unb {
    &__item {
        &:nth-child(1) {
            margin-right: 2rem;
        }
        &:nth-child(3) {
            margin: 0 3rem;
        }
        &:nth-child(4) .ico--face {
            margin-right: 1rem;
        }
        &:nth-child(4) .header__nav__txt {
            opacity: .5;
        }
        button {
            padding: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            .ico--sel {
                margin-top: .7rem;
                margin-left: .7rem;
            }
        }
    } // item
    &__txt {
        display: inline-block;
        margin-top: .3rem;
    } // txt
}