$color--disabled-font: #5b5d69 !default;

.tag {
	// @include debug;
	display: inline-block;
	width: 4.3rem;
	height: 4.3rem;
	line-height: 4.3rem;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;

	&--new {
		background-color: #62b951;
	}

	&--sale {
		background-color: #e36556;
	}

	&--hit {
		background-color: #e3db56;
	}

	&--half {
		height: (4.3rem / 2);
		border-radius: .3rem;
		line-height: (4.3rem / 2);
		color: $color--disabled-font;

		&--full {
			color: #fff;
		}
	}
}