@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

@import url('https://fonts.googleapis.com/css?family=PT+Serif');

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
}