/* ==================================
	reset
================================== */
*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
ul,
ol,
figure,
fieldset,
p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

span,
label,
input,
button,
select,
img,
small {
	vertical-align: top;
}

a {
	text-decoration: none;
	color: #3c3d48;
}

fieldset {
	border: 0;
}